@charset "UTF-8";
.clear {
  clear: both;
}

a:link {
  text-decoration: none;
  color: #000000;
  outline: none;
}

a:active {
  text-decoration: none;
  color: #000000;
  outline: 1px solid #000;
}

a:visited {
  text-decoration: none;
  color: #000000;
  outline: 1px solid #000;
}

a:hover {
  text-decoration: none;
  color: #000000;
  outline: none;
}

/*---------------------------------
select-backgroundcolor
----------------------------------*/
::-moz-selection {
  background: #E78F86;
  color: #fff;
}
::selection {
  background: #E78F86;
  color: #fff;
}

::-moz-selection {
  background: #E78F86;
  color: #fff;
}

/*---------------------------------
画像タグ設定
----------------------------------*/
img {
  width: 100%;
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
}

/*---------------------------------
文字サイズ
----------------------------------*/
h2 {
  font-family: "ab-kirigirisu";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h3 {
  font-size: 24px;
  margin: 25px 0 20px;
  line-height: 2.8rem;
}
@media screen and (max-width: 767px) {
  h3 {
    margin: 20px 0 10px;
    font-size: 22px;
  }
}

.text {
  font-size: 18px;
  line-height: 2.5rem;
}

.notion {
  margin-top: 5px;
  font-size: 14px;
}

/*---------------------------------
html,body
----------------------------------*/
html {
  font-size: 62.5%;
  font-family: "游ゴシック Medium", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #000000;
}
@media all and (-ms-high-contrast: none) {
  html {
    font-family: "游ゴシック", "yugothic", "Yu Gothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "cursive", "sans-serif";
  }
}

body {
  font-weight: 700;
  line-height: 1.5rem;
  color: #000000;
  letter-spacing: normal;
  font-feature-settings: "palt";
  position: relative;
  font-family: "游ゴシック Medium", sans-serif;
}
body #texture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
}

/*---------------------------------
PC・スマホ　表示・表示
----------------------------------*/
.pc_none {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .pc_none {
    display: block !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pc_none {
    display: block !important;
  }
}

.pc_tab_none {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .pc_tab_none {
    display: block !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pc_tab_none {
    display: none !important;
  }
}

.tab_none {
  display: block !important;
}
@media screen and (max-width: 767px) {
  .tab_none {
    display: block !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tab_none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sp_tab_none {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sp_tab_none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sp_none {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sp_none {
    display: block !important;
  }
}

/*---------------------------------
背景色
----------------------------------*/
.back_color {
  background: #fff;
}

/*---------------------------------
ヘッダー(PC)
----------------------------------*/
#header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 900;
  transition: all ease 0.3s;
  background-color: #E78F86;
  padding: 5px;
  box-sizing: border-box;
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 767px) {
  #header {
    height: 80px;
    align-items: center;
  }
}
#header.down {
  transform: translateY(0px);
}
#header .headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;
  height: 100%;
  border: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  #header .headerFlex {
    padding: 0 10px;
  }
}
#header .headerFlex .logo {
  margin: 0;
}
#header .headerFlex .logo_pc {
  width: 200px;
  display: block;
}
@media screen and (max-width: 767px) {
  #header .headerFlex .logo_pc {
    display: none;
  }
}
#header .headerFlex .logo_sp {
  width: 100px;
  display: none;
}
@media screen and (max-width: 767px) {
  #header .headerFlex .logo_sp {
    display: block;
  }
}
#header .menu {
  height: 100%;
}
@media screen and (max-width: 767px) {
  #header .menu {
    height: auto;
  }
}
#header .menu ul {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #header .menu ul {
    display: block;
  }
}
#header .menu ul li {
  height: 100%;
}
@media screen and (max-width: 767px) {
  #header .menu ul li {
    height: auto;
  }
}
#header .menu ul li a {
  padding: 20px 10px;
  display: block;
}
@media screen and (max-width: 767px) {
  #header .menu ul li a {
    padding: 8px 10px;
  }
}
#header .menu ul li a h2 {
  padding-bottom: 8px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #header .menu ul li a h2 {
    padding-bottom: 0;
  }
}
#header .menu ul li a h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease-in-out;
}
#header .menu ul li.oe:hover h2::before {
  width: 100%;
}

/*---------------------------------
body
----------------------------------*/
#fv {
  background-color: #5397A9;
  width: 100vw;
  height: 100vh;
  position: relative;
}
#fv .top {
  width: 100vw;
  height: 6.65vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #fv .top {
    height: 24.5vw;
  }
}
#fv .middle {
  width: 100%;
  text-align: center;
  margin: 6.7rem 0 57px;
  z-index: 400;
  position: relative;
}
@media screen and (max-width: 767px) {
  #fv .middle {
    margin: 3.7rem 0 57px;
  }
}
#fv .middle_pc {
  width: clamp(595px, 61.33vw, 785px);
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #fv .middle_pc {
    display: none;
  }
}
#fv .middle_sp {
  width: 80vw;
  max-width: 345px;
  padding: 0 3.5%;
  box-sizing: border-box;
  display: none;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #fv .middle_sp {
    display: block;
  }
}
#fv .bottom {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
#fv .bottom .neko01, #fv .bottom .neko02, #fv .bottom .neko03 {
  height: -moz-fit-content;
  height: fit-content;
  width: clamp(235px, 27vw, 300px);
}
#fv .bottom .neko01 {
  display: block;
}
@media screen and (max-width: 767px) {
  #fv .bottom .neko01 {
    display: none;
  }
}
#fv .bottom .neko01_sp {
  display: none;
  width: 100vw;
  height: 44vh;
}
@media screen and (max-width: 767px) {
  #fv .bottom .neko01_sp {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #fv .bottom .neko02, #fv .bottom .neko03 {
    display: none;
  }
}

#works {
  z-index: 400;
  position: relative;
}
@media screen and (max-width: 767px) {
  #works {
    padding: 0 13.5%;
  }
}
#works .titleImg {
  width: 330px;
  margin: 150px auto 60px;
}
@media screen and (max-width: 767px) {
  #works .titleImg {
    width: auto;
    margin: 100px auto 30px;
  }
}
#works .worksArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 0 13.5%;
}
@media screen and (max-width: 767px) {
  #works .worksArea {
    display: block;
    padding: 0;
  }
}
#works .worksArea article {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  #works .worksArea article {
    margin: 0px auto 20px;
  }
}
#works .worksArea article a {
  display: block;
}
#works .worksArea article.oe:hover {
  transform: scale(1.08);
}

#about {
  padding: 0 13.5%;
  margin-bottom: 100px;
  position: relative;
  z-index: 400;
}
@media screen and (max-width: 767px) {
  #about {
    padding: 0 13.5%;
  }
}
#about .titleImg {
  width: 330px;
  margin: 150px auto 60px;
}
@media screen and (max-width: 767px) {
  #about .titleImg {
    width: auto;
    margin: 100px auto 30px;
  }
}
#about .about {
  background: #fff;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  #about .about {
    padding: 15px;
  }
}
#about .about .aboutBox01 {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  #about .about .aboutBox01 {
    display: block;
  }
}
#about .about .aboutBox01 picture {
  display: block;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 767px) {
  #about .about .aboutBox01 picture {
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
  }
}
#about .about .aboutBox02 {
  background: #F1E8BF;
  max-width: 635px;
  margin: 0 auto;
  padding: 20px;
}
#about .about .aboutBox02 .skill {
  font-family: "ab-kirigirisu";
  font-size: 24px;
  margin-bottom: 15px;
}

/*---------------------------------
フッター
----------------------------------*/
#footer {
  background-color: #E78F86;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .copyrightText {
  font-size: 12px;
}
#footer .ham_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  overflow: scroll;
  opacity: 0;
  transition: all ease 0.4s;
  z-index: -1000;
  background: #fff;
  min-height: inherit;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer .ham_menu {
    padding: 0;
    margin: 80px 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer .ham_menu {
    margin: 0;
  }
}
#footer .ham_menu.menu_open {
  opacity: 1;
  z-index: 1000;
}
#footer .ham_menu .menu_close {
  text-align: end;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .menu_close {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 700;
  }
}
#footer .ham_menu .ham_menu_Cont {
  max-width: 1000px;
  margin: 20px auto 0;
  padding: 0 7vw;
  display: block;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer .ham_menu .ham_menu_Cont {
    display: block;
  }
}
#footer .ham_menu .ham_menu_Cont__top {
  border-bottom: 1px rgba(51, 112, 178, 0.2) solid;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__top {
    border-bottom: 1px rgba(51, 112, 178, 0.5) solid;
  }
}
#footer .ham_menu .ham_menu_Cont__top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__top ul {
    display: block;
  }
}
#footer .ham_menu .ham_menu_Cont__top ul .ham_logo {
  width: 280px;
  height: 78px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__top ul .ham_logo {
    height: 100px;
    width: auto;
  }
}
#footer .ham_menu .ham_menu_Cont__top ul .ham_button {
  text-align: center;
}
#footer .ham_menu .ham_menu_Cont__under {
  display: flex;
  max-width: 820px;
  margin: 55px auto 0;
  padding: 0 70px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under {
    display: block;
    max-width: none;
    margin: 0;
    width: 100vw;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_right,
#footer .ham_menu .ham_menu_Cont__under .menu_left {
  margin-right: 80px;
}
#footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link,
#footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link {
  margin-bottom: 70px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link,
  #footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link {
    margin-bottom: 0;
    padding: 2.2vh 0 2.7vh;
    border-bottom: 1px rgba(51, 112, 178, 0.2) solid;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link a .sub_name,
#footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link a .sub_name {
  font-size: 9px;
  color: #3372B0;
  line-height: normal;
  margin-bottom: 3px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link a .sub_name,
  #footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link a .sub_name {
    text-align: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link a .main_name,
#footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link a .main_name {
  font-size: 18px;
  color: #3372B0;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link a .main_name,
  #footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link a .main_name {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link a .main_name,
  #footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link a .main_name {
    text-align: start;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_right ul .maintitle_link.oe:hover,
#footer .ham_menu .ham_menu_Cont__under .menu_left ul .maintitle_link.oe:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company,
  #footer .ham_menu .ham_menu_Cont__under .menu_service {
    border-bottom: 1px rgba(51, 112, 178, 0.2) solid;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink {
    margin-bottom: 0;
    padding: 2.2vh 0 2.7vh;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink .sub_name,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink .sub_name {
  font-size: 9px;
  color: #3372B0;
  line-height: normal;
  margin-bottom: 3px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink .sub_name,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink .sub_name {
    text-align: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink .main_name,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink .main_name {
  font-size: 18px;
  color: #3372B0;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .maintitle_nolink .main_name,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .maintitle_nolink .main_name {
    text-align: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle {
    display: none;
    border-top: 1px rgba(51, 112, 178, 0.2) dotted;
    margin-bottom: 0;
    padding: 15px 0;
    background-color: #F6FAFF;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle a,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle a {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle a,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle a {
    justify-content: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle a .second_line,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle a .second_line {
  width: 15px;
  height: 1px;
  display: block;
  background-color: #6498CC;
  transition: all 0.1s ease;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle a .second_line,
  #footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle a .second_line {
    display: none;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle a .second_name,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle a .second_name {
  font-size: 15px;
  color: #6498CC;
  line-height: normal;
  transition: all 0.2s ease;
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle.oe:hover a .second_line,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle.oe:hover a .second_line {
  background-color: #3372B0;
  height: 2px;
}
#footer .ham_menu .ham_menu_Cont__under .menu_company ul .subtitle.oe:hover a .second_name,
#footer .ham_menu .ham_menu_Cont__under .menu_service ul .subtitle.oe:hover a .second_name {
  color: #3372B0;
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_buttons {
    padding-top: 2.8vh;
  }
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_buttons ul {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link {
  margin-bottom: 20px;
  transition: all 0.2s ease;
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 767px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a .ico_english {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/common/earth_ico.svg) no-repeat center;
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a .ico_search {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/common/search_ico.svg) no-repeat center;
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link a .main_name {
  font-size: 15px;
  color: #3372B0;
  line-height: 18px;
}
#footer .ham_menu .ham_menu_Cont__under .menu_buttons ul .maintitle_link.oe:hover {
  opacity: 0.6;
}

/*---------------------------------
ローディング画面
----------------------------------*/
#loading {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #E78F86;
  opacity: 1;
  transition: all 0.4s ease;
}
#loading.fadeout {
  opacity: 0;
}
#loading .lds-grid {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  transition: all 0.4s ease;
}
#loading .lds-grid.fadeout {
  opacity: 0;
}
#loading .lds-grid span {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
#loading .lds-grid span:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
#loading .lds-grid span:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
#loading .lds-grid span:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
#loading .lds-grid span:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
#loading .lds-grid span:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
#loading .lds-grid span:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
#loading .lds-grid span:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
#loading .lds-grid span:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
#loading .lds-grid span:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}/*# sourceMappingURL=common.css.map */