@charset "utf-8";
@import "mixin";
@import "css3";

.clear {
    clear: both;
}

a:link {
    text-decoration: none;
    color: $c_black;
    outline: none;
}

a:active {
    text-decoration: none;
    color: $c_black;
    outline: 1px solid #000;
}

a:visited {
    text-decoration: none;
    color: $c_black;
    outline: 1px solid #000;
}

a:hover {
    text-decoration: none;
    color: $c_black;
    outline: none;
}

/*---------------------------------
select-backgroundcolor
----------------------------------*/
::selection {
    background: $c_main;
    color: $c_base;
}

::-moz-selection {
    background: $c_main;
    color: $c_base;
}

/*---------------------------------
画像タグ設定
----------------------------------*/
img {
    width: 100%;
    height: auto;
}

img[src$=".svg"] {
    width: 100%;
    height: auto;
}

/*---------------------------------
文字サイズ
----------------------------------*/
h2{
    font-family: "ab-kirigirisu";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h3{
    font-size: 24px;
    margin: 25px 0 20px;
    line-height: 2.8rem;

    @include sp() {
        margin: 20px 0 10px;
        font-size: 22px;
    }
}

.text{
    font-size: 18px;
    line-height: 2.5rem;
}

.notion{
    margin-top: 5px;
    font-size: 14px;
}

/*---------------------------------
html,body
----------------------------------*/
html {
    font-size: 62.5%;
    font-family: $font;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: $c_black;

    @media all and (-ms-high-contrast: none) {
        font-family: "游ゴシック",
            "yugothic",
            "Yu Gothic",
            "ヒラギノ角ゴシック Pro",
            "Hiragino Kaku Gothic Pro",
            "メイリオ",
            'Meiryo',
            'cursive',
            'sans-serif';
    }
}

body {
    font-weight: 700;
    line-height: 1.5rem;
    color: $c_black;
    letter-spacing: normal;
    font-feature-settings: "palt";
    position: relative;
    font-family: $font;

    #texture{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 300;
    }
}

/*---------------------------------
PC・スマホ　表示・表示
----------------------------------*/

.pc_none {
    display: none !important;

    @include sp {
        display: block !important;
    }

    @include tab {
        display: block !important;
    }
}

.pc_tab_none {
    display: none !important;

    @include sp {
        display: block !important;
    }

    @include tab {
        display: none !important;
    }
}

.tab_none {
    display: block !important;

    @include sp {
        display: block !important;
    }

    @include tab {
        display: none !important;
    }
}

.sp_tab_none {

    @include sp {
        display: none !important;
    }

    @include tab {
        display: none !important;
    }
}

.sp_none {
    @include sp {
        display: none !important;
    }

    @include tab {
        display: block !important;
    }
}


/*---------------------------------
背景色
----------------------------------*/

.back_color {
    background: $c_base;
}

/*---------------------------------
ヘッダー(PC)
----------------------------------*/

#header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    transition: all ease 0.3s;
    background-color: $c_main;
    padding: 5px;
    box-sizing: border-box;
    transform: translateY(-100px);
    transition: all .4s ease-in-out;

    @include sp() {
        height: 80px;
        align-items: center;
    }

    &.down{
        transform: translateY(0px);
    }

    .headerFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 20px;
        height: 100%;
        border: 1px solid #fff;

        @include sp() {
            padding: 0 10px;
        }

        .logo{
            margin: 0;

            &_pc{
                width: 200px;
                display: block;
 

                @include sp() {
                    display: none;
                }
            }
            &_sp{
                width: 100px;
                display: none;

                @include sp() {
                    display: block;
                }
            }
        }
    }

   .menu{
    height: 100%;
    @include sp() {
        height: auto;
    }

    ul{
        display: flex;
        gap: 30px;
        height: 100%;
        align-items: center;
        @include sp() {
            display: block;
        }

        
        li{
            height: 100%;

            @include sp() {
                height: auto;
            }
            
            a{
                padding: 20px 10px;
                display: block;
                @include sp() {
                    padding: 8px 10px;
                }

                h2{
                    padding-bottom: 8px;
                    position: relative;

                    @include sp() {
                        padding-bottom: 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background: #000;
                        transition: width .3s ease-in-out;
                    }
                }
            }

            
            &.oe{
                &:hover{
                    h2{
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
   }

}

/*---------------------------------
body
----------------------------------*/
#fv{
    background-color: #5397A9;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .top{
        width: 100vw;
        height: 6.65vw;
        text-align: center;

        @include sp {
            height: 24.5vw;
        }
    }

    .middle{
        width: 100%;
        text-align: center;
        margin: 6.7rem 0 57px;
        z-index: 400;
        position: relative;
        
        @include sp {
            margin: 3.7rem 0 57px;
        }

        &_pc{
            width: clamp(595px, 61.33vw, 785px);
            display: block;
            margin: 0 auto;

            @include sp {
                display: none;
            }
        }

        &_sp{
            width: 80vw;
            max-width: 345px;
            padding: 0 3.5%;
            box-sizing: border-box;
            display: none;
            margin: 0 auto;

            @include sp {
                display: block;
            }
        }
    }

    .bottom{
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);

       .neko01, .neko02, .neko03{
        height: 63vh;
        width: clamp(235px, 27vw, 300px);
       }

       .neko01{
        display: block;
           
        @include sp {
            display: none;
        }
       }

       .neko01_sp{
        display: none;
        width: 100vw;
        height: 44vh;

        @include sp {
            display: block;
        }

       }

       .neko02, .neko03{
        @include sp {
            display: none;
        }
       }
    }
}

#works{
    z-index: 400;
    position: relative;
    @include sp() {
        padding: 0 13.5%;
    }

    .titleImg{
        width: 330px;
        margin: 150px auto 60px;
        @include sp() {
            width: auto;
            margin: 100px auto 30px;
        }
    }

    .worksArea{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        padding: 0  13.5%;
        @include sp() {
            display: block;
            padding: 0;
        }

        article{
            padding: 10px;
            transition: all .2s ease-in-out;
            @include sp() {
                margin: 0px auto 20px;
            }

            a{
                display: block;
            }

            &.oe{
                &:hover{
                    transform: scale(1.08);
                }
            }
        }
    }
}

#about{
    padding: 0  13.5%;
    margin-bottom: 100px;
    position: relative;
    z-index: 400;
    @include sp() {
        padding: 0 13.5%;
    }

    .titleImg{
        width: 330px;
        margin: 150px auto 60px;
        @include sp() {
            width: auto;
            margin: 100px auto 30px;
        }
    }

    .about{
        background: #fff;
        padding: 30px;
        @include sp(){
            padding: 15px;
        }

        .aboutBox01{
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;
            margin-bottom: 40px;
            @include sp(){
                display: block;
            }

            picture{
                display: block;
                width: 150px;
                height: 150px;
                @include sp(){
                    margin: 0 auto 20px;
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .aboutBox02{
            background: #F1E8BF;
            max-width: 635px;
            margin: 0 auto;
            padding: 20px;

            .skill{
                font-family: "ab-kirigirisu";
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
    }
}
/*---------------------------------
フッター
----------------------------------*/

#footer {
    background-color: $c_main;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyrightText{
        font-size: 12px;
    }

    // ハンバーガーメニュー
    .ham_menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        box-sizing: border-box;
        overflow: scroll;
        opacity: 0;
        transition: all ease 0.4s;
        z-index: -1000;
        background: #fff;
        min-height: inherit;
        display: block;

        @include tab {
            padding: 0;
            margin: 80px 0 0;
        }

        @include tab() {
            margin: 0;
        }

        &.menu_open {
            opacity: 1;
            z-index: 1000;
        }

        .menu_close {
            text-align: end;

            @include sp() {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                z-index: 700;
            }
        }

        //pc&tab
        .ham_menu_Cont {
            max-width: 1000px;
            margin: 20px auto 0;
            padding: 0 7vw;
            display: block;

            @include sp() {
                display: none;
            }

            @include tab() {
                display: block;
            }

            &__top {
                border-bottom: 1px rgba(51, 112, 178, .2) solid;
                padding-bottom: 20px;

                @include sp() {
                    border-bottom: 1px rgba(51, 112, 178, .5) solid;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include sp() {
                        display: block;
                    }



                    .ham_logo {
                        width: 280px;
                        height: 78px;

                        @include sp() {
                            height: 100px;
                            width: auto;
                        }
                    }

                    .ham_button {
                        text-align: center;
                    }
                }
            }

            &__under {
                display: flex;
                max-width: 820px; /////
                margin: 55px auto 0;
                padding: 0 70px;

                @include sp() {
                    display: block;
                    max-width: none;
                    margin: 0;
                    width: 100vw;
                }

                .menu_right,
                .menu_left {
                    margin-right: 80px;

                    ul {
                        .maintitle_link {
                            margin-bottom: 70px;
                            transition: all .2s ease;

                            @include sp() {
                                margin-bottom: 0;
                                padding: 2.2vh 0 2.7vh;
                                border-bottom: 1px rgba(51, 112, 178, .2) solid;
                            }

                            a {
                                .sub_name {
                                    font-size: 9px;
                                    color: #3372B0;
                                    line-height: normal;
                                    margin-bottom: 3px;

                                    @include sp() {
                                        text-align: center;

                                    }

                                }

                                .main_name {
                                    font-size: 18px;
                                    color: #3372B0;
                                    line-height: 18px;

                                    @include sp() {
                                        text-align: center;
                                    }

                                    @include tab() {
                                        text-align: start;
                                    }
                                }
                            }

                            &.oe {
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }

                .menu_company,
                .menu_service {

                    @include sp() {
                        border-bottom: 1px rgba(51, 112, 178, .2) solid;
                    }

                    ul {
                        .maintitle_nolink {
                            margin-bottom: 30px;

                            @include sp() {
                                margin-bottom: 0;
                                padding: 2.2vh 0 2.7vh;
                            }

                            .sub_name {
                                font-size: 9px;
                                color: #3372B0;
                                line-height: normal;
                                margin-bottom: 3px;

                                @include sp() {
                                    text-align: center;
                                }

                            }

                            .main_name {
                                font-size: 18px;
                                color: #3372B0;
                                line-height: 18px;

                                @include sp() {
                                    text-align: center;
                                }

                            }
                        }

                        .subtitle {
                            margin-bottom: 20px;

                            @include sp() {
                                display: none;
                                border-top: 1px rgba(51, 112, 178, .2) dotted;
                                margin-bottom: 0;
                                padding: 15px 0;
                                background-color: #F6FAFF;
                            }

                            a {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                @include sp() {
                                    justify-content: center;
                                }


                                .second_line {
                                    width: 15px;
                                    height: 1px;
                                    display: block;
                                    background-color: #6498CC;
                                    transition: all .1s ease;

                                    @include sp() {
                                        display: none;
                                    }
                                }

                                .second_name {
                                    font-size: 15px;
                                    color: #6498CC;
                                    line-height: normal;
                                    transition: all .2s ease;
                                }
                            }

                            &.oe {
                                &:hover {
                                    a {
                                        .second_line {
                                            background-color: #3372B0;
                                            height: 2px;
                                        }

                                        .second_name {
                                            color: #3372B0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .menu_buttons {
                    margin-left: auto;

                    @include sp() {
                        padding-top: 2.8vh;
                    }

                    ul {
                        @include sp() {
                            display: flex;
                            gap: 40px;
                            justify-content: center;
                        }

                        .maintitle_link {
                            margin-bottom: 20px;
                            transition: all .2s ease;

                            a {
                                display: flex;
                                gap: 5px;

                                @include sp() {
                                    display: flex;
                                    gap: 5px;
                                    align-items: center;
                                }

                                @include tab() {
                                    display: flex;
                                    gap: 5px;
                                    align-items: center;
                                }


                                .ico_english {
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    background: url(../img/common/earth_ico.svg) no-repeat center;
                                }

                                .ico_search {
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    background: url(../img/common/search_ico.svg) no-repeat center;
                                }

                                .main_name {
                                    font-size: 15px;
                                    color: #3372B0;
                                    line-height: 18px;
                                }
                            }

                            &.oe {
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


/*---------------------------------
ローディング画面
----------------------------------*/
#loading {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $c_main;
    opacity: 1;
    transition: all .4s ease;

    &.fadeout {
        opacity: 0;
    }

    .lds-grid {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        transition: all .4s ease;

        &.fadeout {
            opacity: 0;
        }

        span {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #fff;
            animation: lds-grid 1.2s linear infinite;

            &:nth-child(1) {
                top: 8px;
                left: 8px;
                animation-delay: 0s;
              }
              &:nth-child(2) {
                top: 8px;
                left: 32px;
                animation-delay: -0.4s;
              }
              &:nth-child(3) {
                top: 8px;
                left: 56px;
                animation-delay: -0.8s;
              }
              &:nth-child(4) {
                top: 32px;
                left: 8px;
                animation-delay: -0.4s;
              }
              &:nth-child(5) {
                top: 32px;
                left: 32px;
                animation-delay: -0.8s;
              }
              &:nth-child(6) {
                top: 32px;
                left: 56px;
                animation-delay: -1.2s;
              }
              &:nth-child(7) {
                top: 56px;
                left: 8px;
                animation-delay: -0.8s;
              }
              &:nth-child(8) {
                top: 56px;
                left: 32px;
                animation-delay: -1.2s;
              }
              &:nth-child(9) {
                top: 56px;
                left: 56px;
                animation-delay: -1.6s;
              }
              @keyframes lds-grid {
                0%, 100% {
                  opacity: 1;
                }
                50% {
                  opacity: 0.5;
                }
              }
          }
      }
}
